<div [ngClass]="'side-nav--container ' + [status ? 'displayed' : '']">
  <div class="side-nav__overlay" (click)="(status)"></div>
  <div class="side-nav">
    <span class="side-nav--title">
      Karine Lefort <br />
      Photographie
    </span>
    <button (click)="(status)" class="side-nav__close--button">X</button>
    <a [routerLink]="['/']" class="side-nav__link">Accueil</a>
    <a [routerLink]="['/galerie']" class="side-nav__link">Confiance en soi</a>
    <a [routerLink]="['/']" class="side-nav__link">Grossesse</a>
    <a [routerLink]="['/']" class="side-nav__link">Nouveau-né</a>
    <a [routerLink]="['/']" class="side-nav__link">Mariage</a>
    <a [routerLink]="['/']" class="side-nav__link">Infos&Tarifs</a>
    <a [routerLink]="['/']" class="side-nav__link">A propos</a>
  </div>
</div>
