@import "../../assets/variables";

.cta-wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin: 2em 0;
    padding: 2em 0;
    background-color: $secondary;
    h2 {
        text-indent: 2em;
        z-index: 1;
        align-self: flex-start;
        text-align: left;
    }
    .cta-wrapper__inner {
        position: absolute;
        height: 99%;
        width: 97%;
        left: 3%;
        top: 2%;
        border: 1px solid $secondary-dark;
    }

    .cta-wrapper__content {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        z-index: 1;

        .cta-wrapper__content--item {
            width: 100%;
            margin: 0.4em 0;
        }
    }
}

@media screen and (min-width: 652px) {
    .cta-wrapper {
        height: 100%;
        padding: 1em 0;
        margin-bottom: 10em;
        .cta-wrapper__inner {
            top: 10%;
            height: 94%;
            width: 95%;
        }
        .cta-wrapper__content {
            justify-content: space-between;
            flex-direction: row;
            .cta-wrapper__content--item {
                margin: 0 2em;
                &:nth-child(2n) {
                    transform: translateY(15%);
                }
            }
        }
    }
}
