@import "../../assets/variables";

.resumee-with-img {
    padding: 3em;
    background-color: $secondary;
    .resumee-with-img__left {
        p {
            font-size: 0.9em;
            text-align: justify;
        }
        .left__quote {
            font-family: "P22_Cezanne_Pro_Regular";
            margin-left: 1em;
            font-size: 1.8em;
            padding-left: 0.5em;
            line-height: 3rem;
            border-left: 0.3em solid $primary;
        }
    }
}

@media screen and (min-width: 652px) {
    .resumee-with-img {
        display: flex;
        flex-direction: row;
        padding: 2em 15vw;
        z-index: -1;

        .resumee-with-img__left {
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            padding: 5em;
            p {
                font-size: 1.1em;
            }
            .left__quote {
                line-height: 10rem;
                font-size: 2.5em;
            }
        }

        .resumee-with-img__right {
            position: relative;
            min-height: 30em;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 35em;
            border-radius: 3px;
            margin-right: 4em;
            .resumee-with-img__right--inner {
                position: absolute;
                height: 100%;
                width: 100%;
                inset: 1em;
                mix-blend-mode: darken;
                border: 3px solid $secondary-dark;
            }
        }
    }
}
