<div class="resumee-with-img">
  <div class="resumee-with-img__left">
    <p>
      Photographe professionnelle à Proissans, près de Sarlat la Caneda en
      Dordogne (24) dans le triangle Brive-Périgueux Bergerac, je vous propose
      mes services pour vous faire vivre une expérience unique.
    </p>
    <p class="left__quote">
      <i> Nous sommes les gardiens de votre mémoire </i>
    </p>
    <p>
      Plus qu'une prise de vue, je veux vous faire vivre une expérience
      fabuleuse et un moment de partage, de complicité, une expérience riche en
      émotion et en amour. Photographe à Proissans, spécialisée dans la
      photographie de portrait: famille, couple, enfant, bébé. Grossesse,
      Nouveau-Né. Je suis là pour vous aider à créer vos souvenirs !
    </p>
  </div>
  <div class="resumee-with-img__right"></div>
</div>
