@import "../../assets/variables";

.resumee-with-img {
    padding: 3em;
    background-color: $secondary;
    .resumee-with-img__left {
        p {
            font-size: 0.9em;
            text-align: justify;
        }
        .left__quote {
            font-family: "P22_Cezanne_Pro_Regular";
            margin-left: 1em;
            font-size: 1.8em;
            padding-left: 0.5em;
            line-height: 3rem;
            border-left: 0.3em solid $primary-dark;
        }
    }
}
