@import "../../assets/variables";

.rs-picto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    span {
        margin: 0.1em;

        svg {
            cursor: pointer;
            transition: 0.2s;
        }

        &:hover {
            svg {
                transform: scale(1.1);
                fill: $primary-light;
            }
        }
        &:active,
        &:focus {
            svg {
                transform: scale(0.9);
                fill: $secondary;
            }
        }
    }
}
