@import "../../assets/variables";

.horizontal-img-galery {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2em 0 3em 0;
    .horizontal-img-galery__img {
        flex: 1 0 30%;
        margin: 1px;
        height: auto;
        aspect-ratio: 1 1;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: $secondary;
        height: 30vw;
        width: auto;
        box-shadow: 1px 1px 4px $secondary-dark;
    }
}
