<header class="navbar">
  <button
    (click)="toggleSideNav(true)"
    class="navbar__burger-menu--button"
  ></button>
  <a [routerLink]="['/']" class="navbar__title"> Karine Lefort Photographie </a>
  <div class="navbar__horizontal--container">
    <karinelefort-web-horizontal-nav></karinelefort-web-horizontal-nav>
  </div>
  <div class="navbar__side--container">
    <karinelefort-web-side-nav
      [status]="sideNavStatus"
      (displayStatusChange)="toggleSideNav($event)"
    ></karinelefort-web-side-nav>
  </div>
</header>
