<div class="galeries">
  <div class="galeries__header">
    <div class="header__title">
      <h1>Galeries</h1>
      <span>retrouvez mes travaux</span>
    </div>
    <div class="header__images">
      <karinelefort-web-image-with-title-overlay
        title="Grossesse"
        link="galeries/grossesse"
        imgSrc="../../assets/grossesse.jpg"
      ></karinelefort-web-image-with-title-overlay>
      <karinelefort-web-image-with-title-overlay
        title="Nouveau-né"
        link="galeries/grossesse"
        imgSrc="../../assets/nouveaune.jpg"
      ></karinelefort-web-image-with-title-overlay>
      <karinelefort-web-image-with-title-overlay
        title="Bébé / Enfant"
        link="galeries/grossesse"
        imgSrc="../../assets/enfant.jpg"
      ></karinelefort-web-image-with-title-overlay>
      <karinelefort-web-image-with-title-overlay
        title="Mariage"
        link="galeries/grossesse"
        imgSrc="../../assets/mariage.jpg"
      ></karinelefort-web-image-with-title-overlay>
      <karinelefort-web-image-with-title-overlay
        title="Animal de compagnie"
        link="galeries/grossesse"
        imgSrc="../../assets/animal.jpg"
      ></karinelefort-web-image-with-title-overlay>
      <karinelefort-web-image-with-title-overlay
        title="Autres"
        link="galeries/grossesse"
        imgSrc="../../assets/other.jpg"
      ></karinelefort-web-image-with-title-overlay>
    </div>
  </div>
  <div class="galeries__content">
    <karinelefort-web-citation-fw
      text="La photographie devient de l'art quand elle dévoile l'âme et révèle l'authenticité du sujet."
      author="Monique Moreau"
    >
    </karinelefort-web-citation-fw>
    <karinelefort-web-rewards></karinelefort-web-rewards>
  </div>
</div>
