@import "../../../assets/variables";

.testimonial-img-with-text {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    .testimonial-img-with-text__title {
        text-indent: 2em;
    }

    .testimonial-img-with-text__inner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .testimonial-img-with-text__inner--img {
            height: 16em;
            flex: 2 1 0;
            border-radius: 3px;
            background-repeat: no-repeat;
            background-color: white;
            background-position: auto center;
            background-size: cover;
            box-shadow: 1px 1px 6px rgb(0, 0, 0);
        }

        .testimonial-img-with-text__inner--text {
            margin: 0.5em;
            flex: 1 1 0;
            align-self: flex-start;
            display: block;
            position: relative;
            .inner__text--container {
                position: absolute;
                top: 4vh;
                text-align: center;
                background-color: rgba($secondary, 0.3);
                width: 14em;
                padding: 2em;
            }
        }
    }

    .testimonial-img-with-text__sub-text {
        padding: 1em;
    }
}

@media screen and (min-width: 652px) {
    .testimonial-img-with-text {
        height: 100%;
        width: 100%;

        .testimonial-img-with-text__title {
            text-indent: 0;
            font-size: 1.8em;
            line-height: 2.5em;
        }

        .testimonial-img-with-text__sub-text {
            width: 66%;
            padding: 0;
            text-align: left;
            align-self: flex-end;
        }

        .testimonial-img-with-text__inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
            height: 100%;
            .testimonial-img-with-text__inner--img {
                height: 36em;
                width: 26em;
                flex: 2 1 0;
                position: relative;
                background-repeat: no-repeat;
                background-color: white;
                background-size: cover;
                background-position: 20% 0;
                box-shadow: 1px 1px 6px rgb(0, 0, 0);
            }

            .testimonial-img-with-text__inner--text {
                margin: 0em;
                display: inline;
                position: relative;
                align-self: flex-end;
                justify-self: center;
                bottom: 15rem;
                left: -13rem;
                .inner__text--container {
                    background-color: transparent;
                    width: 18em;
                    max-height: 4em;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: $secondary-light;
                    padding: 0em;
                }
            }
            &.row-reverse {
                .testimonial-img-with-text__inner--text {
                    left: 15rem;
                }
            }
        }
    }
}
