<div class="testimonial-img-with-text">
  <h2 class="testimonial-img-with-text__title" *ngIf="title">
    {{ title }}
  </h2>
  <div
    class="testimonial-img-with-text__inner"
    [ngClass]="direction"
    [ngStyle]="{ 'flex-direction': direction }"
  >
    <div
      class="testimonial-img-with-text__inner--img"
      [ngStyle]="{ 'background-image': 'url(' + imgSrc + ')' }"
      alt="Image issue d'un shooting client."
    ></div>
    <div class="testimonial-img-with-text__inner--text">
      <span
        class="inner__text--container"
        [ngStyle]="{ left: direction === 'row-reverse' ? '1em' : '-100%' }"
      >
        <span>“ {{ testimonial }} ” </span><span>- {{ customer }}.</span>
      </span>
    </div>
  </div>
  <p class="testimonial-img-with-text__sub-text">{{ text }}</p>
</div>
