@import "../../assets/variables";

.text-banner {
    text-align: center;
    background-color: $secondary;
    color: $text-on-s;
    margin: 3em 0;
    padding: 3em;
    text-align: center;
    .text-banner--text {
      font-size: 1.8em;
    }
    .text-banner--title {
        font-family: "d_i_t_r";
        font-size: 1.5em;
    }
}

