<karinelefort-web-full-width-img-with-outline></karinelefort-web-full-width-img-with-outline>
<karinelefort-web-wide-cta-wrapper></karinelefort-web-wide-cta-wrapper>
<karinelefort-web-info-buble-wrapper></karinelefort-web-info-buble-wrapper>
<karinelefort-web-resumee-with-img></karinelefort-web-resumee-with-img>
<h2 class="separator-title">
  Faites moi part de vos projets, je vous aiderai à les réaliser
</h2>
<karinelefort-web-testimonials></karinelefort-web-testimonials>
<karinelefort-web-text-banner></karinelefort-web-text-banner>
<karinelefort-web-horizontal-img-galery
  [images]="imageGaleryImages"
></karinelefort-web-horizontal-img-galery>
