@import "../../assets/variables";

.tarif-item {
    .tarif-header {
        background-color: $secondary;
        padding: 10rem 0;
        margin: 2rem 0;
        h1 {
            color: $n5;
            line-height: 3.5rem;
        }
        p {
            color: #444;
            line-height: 2rem;
            p {
                margin: -1rem auto;
                padding: 0;
            }
        }
    }
    .offres-container {
        width: 100%;
        margin-bottom: 4rem;
        .offre-item {
            height: 70vh;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            &:nth-child(2n) {
                flex-direction: row-reverse;
            }
            > div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
            }
            .offre-description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-height: 90%;
                padding-block: 5%;

                h2 {
                    margin: 0;
                    color: $secondary-darken;
                }
                p {
                    font-size: 1.8rem;
                }
                button {
                    margin-right: auto;
                    margin-left: 15%;
                    width: 20rem;
                }
                > * {
                    width: 70%;
                    text-align: left;
                }
            }
            .offre-image {
                background-size: cover;
                background-position: center;
            }
        }
    }
    @media screen and (max-width: 651px) {
        .tarif-header {
            padding: 2.5rem 0;
            h1 {
                font-size: 3rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
        .offres-container {
            gap: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            .offre-item {
                flex-direction: column-reverse !important;
                .offre-description {
                    justify-content: flex-start;
                    padding-top: 1rem;
                    p {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}
