@import "../../assets/variables";

.img__container {
  position: relative;
  .img__inner {
    border: 2px solid $n1;
    inset: 2px;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .img__img {
    width: 100%;
    border-radius: 2px;
    height: 25em;
    background-size: cover;
    background-position: 50% 50%;
  }
}

@media screen and (min-width: 652px) {
  .img__container {
    width: 95vw;
    height: 68vh;
    margin: 0 auto;
    animation: comefrombottom .3s ease-in;
    position: relative;

    .img__inner {

      &.reveal {
        opacity: 0!important;
      }

      inset: 6px;
      display: inline-block;
      height: 100%;
      animation: appear 0.5s ease-in;
      background-color: $n1;

      &::after {
        content: "";
        position: absolute;
        background-color: $secondary;
        inset: 16px 16px -16px -16px;
        border: 3px solid $secondary;
      }
    }
    .img__img {
      width: 100%;
      background-position-x: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 68vh;
    }
  }
}

@keyframes appear {
  0% {
    transform: scale(.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes comefrombottom {
  0% {
    transform: translateY(250px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}