@import "../../assets/variables";

.wide-cta {
    background-color: $primary-light;
    flex: 1 1 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: 0.2s;
    box-shadow: 1px 1px 4px $secondary-dark;

    &:hover {
        cursor: pointer;
        transform: scale(1.02);
        box-shadow: 1px 1px 4px 2px $secondary-dark;
        .arrow__bottom {
            transform: scale(1.3);
        }
    }
    .wide-cta__content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        overflow: hidden;
        height: 8em;
        i {
            font-size: 1.5em;
            font-family: "P22_Cezanne_Pro_Regular";
        }
        .content__cta-title {
            text-transform: uppercase;
            letter-spacing: 0.1em;
            max-width: 80%;
            text-overflow: ellipsis;
        }
    }

    .wide-cta__img {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 16em;
    }
}

@media screen and (min-width: 652px) {
    .wide-cta {
        .wide-cta__content {
            height: 20em;
            mix-blend-mode: luminosity;
        }
        .wide-cta__img {
            height: 20em;
            background-position: center;
        }
    }
}
