@import "../../assets/variables";
.home-loader {
  min-height: 50vh;
}
.home-page {
  .separator-title {
    text-align: center;
    margin: 4em 2em;
    color: $text-on-p;
    font-size: 2.3em;
    font-weight: lighter;
  }

  .slide-indicators {
    display: flex;
    justify-content: center;
  }

  .slide-indicator {
    height: 44px;
    width: 50px;
    display: flex;
    justify-items: center;
    cursor: pointer;
  }

  .slide-indicator:after {
    content: "";
    background-color: #878787;
    height: 10px;
    margin-top: 10px;
    width: 40px;
  }
  .slide-indicator.active:after,
  .slide-indicator:hover:after {
    background-color: #000000;
  }

  #carousel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    #slide-container {
      scroll-snap-type: x mandatory;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      overflow-y: hidden;
      box-sizing: content-box; /* So the width will be 100% + 17px */
      gap: 10px;
      -webkit-overflow-scrolling: touch;
      scroll-behavior: smooth;
    }
    .slide {
      scroll-snap-align: center;
      position: relative;
      min-width: 100%;
      height: auto;
    }
    .controls {
      display: none;
    }
  }
  @media screen and (min-width: 652px) {
    .reveal,
    .reveal-loaded {
      margin: 12em 0;
      &.separator-title {
        margin: 4em 00;
      }
    }
    #slide-container {
      overflow: hidden;
      padding-bottom: 30px; /* Increase/decrease this value for cross-browser compatibility */
    }
    .controls {
      display: flex;
      width: 97.5%;
      top: 15px;
      left: 1.5%;
      right: 2%;
      position: absolute;
      pointer-events: none;
      .left,
      .right {
        opacity: 0;
        height: 72vh;
        width: 15vw;
        cursor: pointer;
        pointer-events: all;
        transition: all 0.8s;
        background-color: rgba(255, 255, 255, 0.5);
        &:hover {
          opacity: 1;
        }
        &:active,
        &:focus {
          opacity: 0;
        }
      }
      .right {
        margin-left: auto;
        mask-image: linear-gradient(0.25turn, transparent, rgba(255, 255, 255, 0.596));
      }
      .left {
        mask-image: linear-gradient(0.25turn, rgba(255, 255, 255, 0.596), transparent);
      }
    }
  }
}
