@import "../../assets/variables";
.cta-banner {
    background-color: $secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vh 5vw;
    margin: 2vh 0;

    h3 {
        margin-right: 3vw;
    }

    @media screen and (min-width: 652px) {
        justify-content: space-evenly;
    }
}
.basic-cta-btn {
    z-index: 10;
    border-color: black !important;
    font-family: "Californian_FB_Regular";
    &:hover {
        color: black !important;
        background-color: transparent !important;
    }
}
