@import "../../assets/variables";

.info-bubble {
    padding: 2em;
    margin: 1vh;
    color: rgba(black, 0.8);
    text-align: center;
    border-radius: 3px;
    background-color: $secondary;
    box-shadow: 2px 2px 4px $secondary-dark;
}

.info-bubble-wrapper {
    margin: 4em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (min-width: 652px) {
    .info-bubble-wrapper {
        flex-direction: row;
    }
    .info-bubble {
        margin: 6em 0 2em 0;
        font-size: 1.1em;
        padding: 3em;
        letter-spacing: 0.06em;
    }
}
