<div class="horizontal-nav">
  <div class="horizontal-nav--inner"></div>
  <a [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active']" [routerLink]="['/']" class="horizontal-nav__link">Accueil</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/galerie']" class="horizontal-nav__link">Mes galeries</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/prestations']" class="horizontal-nav__link">Prestations</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/galeries-privees']" class="horizontal-nav__link">Vos photos</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/info-et-tarifs']" class="horizontal-nav__link">Infos&Tarifs</a>
</div>
