<div class="horizontal-nav">
  <div class="horizontal-nav--inner"></div>
  <a [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active']" [routerLink]="['/']" class="horizontal-nav__link">Accueil</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/galerie']" class="horizontal-nav__link">Confiance en soi</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/prestation/grossesse']" class="horizontal-nav__link">Grossesse</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/prestation/nouvea-ne']" class="horizontal-nav__link">Nouveau-né</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/prestation/mariage']" class="horizontal-nav__link">Mariage</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/info-et-tarifs']" class="horizontal-nav__link">Infos&Tarifs</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/a-propos']" class="horizontal-nav__link">A propos</a>
</div>
