@import "../../assets/variables";

.navbar {
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 10;

    .navbar__title {
        font-size: 2.5rem;
        padding: 0.2em;
        color: $n5;
        text-decoration: none;
        font-family: "P22_Cezanne_Pro_Regular";
    }

    .navbar__horizontal--container {
        display: none;
    }
    .navbar__burger-menu--button {
        position: absolute;
        top: 30px;
        left: 15px;
        $width: 1.5em;
        background-color: transparent;
        border: none;
        width: $width;
        height: 100%;
        border-bottom: 2px solid black;
        &::after {
            content: "";
            position: relative;
            left: -4px;
            top: -2px;
            display: block;
            width: $width;
            height: 0.3rem;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
        }
    }
}

.horizontal-nav {
    height: 90px;
    width: 95vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    transition: all 0.33s ease-in-out;
    border-radius: 2px;

    .horizontal-nav__link {
        font-size: 1.2em;
        margin: 1.5vw;
        cursor: pointer;
        text-decoration: none;
        color: $text-on-p;
        &:hover,
        &:active,
        &:focus {
            color: $n5;
        }
        &.active {
            color: $n5;
        }
    }
    .rs-picto {
        position: absolute;
        right: 6vw;
        width: 50px;
        span {
            margin: 0 1rem;
        }
        svg {
            fill: $n4;
            &:hover {
                fill: $n4;
            }
        }
    }
}

.side-nav--container {
    .side-nav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        background-color: $secondary;
        color: transparent;
        overflow-x: hidden;
        padding-top: 60px;
        transition: width 0.5s, color 0.2s;
    }

    .side-nav__overlay {
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        position: fixed;
        height: 100vh;
        z-index: 1;
        background-color: transparent;
        transition: background-color 0.5s, width 0;
    }

    &.displayed {
        .side-nav {
            display: flex;
            flex-direction: column;
            width: 250px;
            color: $text-on-s;

            .side-nav--title {
                font-family: "P22_Cezanne_Pro_Regular";
                font-size: 1.4em;
                line-height: 0.9em;
                margin: 1em 2rem;
                text-indent: 1rem;
            }

            .side-nav__close--button {
                background-color: transparent;
                font-size: 3rem;
                font-weight: 200;
                border: none;
                position: absolute;
                margin: 0.5rem;
                top: 0.5rem;
                right: 0.9rem;
            }
        }
        .side-nav__overlay {
            inset: 0;
            width: 100vw;
            background-color: rgba($color: #000000, $alpha: 0.4);
        }
    }

    .side-nav__link {
        margin: 5px 0 5px 2rem;
        cursor: pointer;
        font-size: 1.2em;
        text-decoration: none;
        color: $text-on-s;
        &:hover,
        &:active,
        &:focus {
            color: $secondary-dark;
        }
    }
}

@media screen and (min-width: 652px) {
    .navbar {
        flex-direction: column;
        transition: all 0.2s;
        height: 22rem;
        background-color: white;
        justify-content: flex-start;
        .navbar__horizontal--container {
            position: fixed;
            transition: all 0.33s ease-in-out;
            top: 12rem;
        }
        &.nav-stacked {
            isolation: isolate;
            z-index: 1000;
            .navbar__title {
                opacity: 0;
                transition: all 0.33s ease-in-out;
            }
            .navbar__horizontal--container {
                top: 0;
                background-color: white;
                .horizontal-nav {
                    margin: 0 auto;
                    padding: 2rem 0;
                    .navbar__title {
                        opacity: 1;
                        position: absolute;
                        left: 4rem;
                        font-size: 1.2vw;
                    }
                }
            }
        }

        .navbar__title {
            line-height: 10rem;
            font-size: 2.5em;
            transition: all 0.33s ease-in-out;
        }
        .navbar__side--container,
        .navbar__burger-menu--button {
            display: none;
        }
        .navbar__horizontal--container {
            display: block;
            width: 100%;
        }
    }
}
