@import "../../assets/variables";

.resumee-with-img {
    padding: 3em;
    background-color: $secondary;
    .resumee-with-img__left {
        p {
            font-size: 0.9em;
            text-align: justify;
        }
        .left__quote {
            font-family: "d_i_t_r";
            margin-left: 1em;
            font-size: 1.8em;
            padding-left: 0.5em;
            line-height: 3rem;
            border-left: 0.3em solid $n5;
        }
    }
}

@media screen and (min-width: 652px) {
    .resumee-with-img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 10em 15vw;
        z-index: -1;

        .resumee-with-img__left {
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            max-width: 600px;
            padding: 3em;
            p {
                font-size: 1.1em;
            }
            .left__quote {
                line-height: 5rem;
                font-size: 2em;
            }
        }

        .resumee-with-img__right {
            position: relative;
            min-height: 30em;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            min-width: 400px;
            border-radius: 3px;
            max-height: 400px;
            margin: auto;
            aspect-ratio: 1/3;
            .resumee-with-img__right--inner {
                position: absolute;
                height: 100%;
                width: 100%;
                inset: 1em;
                mix-blend-mode: darken;
                border: 3px solid $secondary-dark;
            }
        }
    }
}
