@import "../../assets/variables";

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    padding: 1.5rem;
    background-color: $primary;
    color: $text-on-p;
    font-size: 0.9em;
    .footer__inner {
        position: absolute;
        height: 94%;
        width: 97%;
        left: 5px;
        top: 5px;
        border: 1px solid $secondary;
    }

    .footer__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 3%;
        z-index: 8;

        .content__center {
            color: $secondary;
            a {
                color: $primary-light;
            }
        }

        .content__right {
            .separator {
                border-bottom: 1px solid $primary-dark;
                width: 60%;
                margin: auto;
            }
            .content__right--rs-container {
                padding: 0.5em;
            }
        }
    }
    .footer__copyright {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 652px) {
    .footer {
        height: 40vh;
        font-size: 1.2em;
        justify-content: space-around;

        .footer__inner {
            height: 91%;
            width: 98%;
            left: 1%;
            top: 5%;
        }
        .footer__content {
            width: 100%;
            flex-direction: row;
            justify-content: space-evenly;
            p,
            div {
                flex: 1 1 0;
            }

            .content__right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .separator {
                    max-width: 2vw;
                }
                .content__right--rs-container {
                    margin-top: 0.5em;
                    max-width: 5vw;
                }
            }
        }
    }
}
