<footer class="footer">
  <div class="footer__inner"></div>
  <div class="footer__content">
    <p class="content__left">
      Studio <br />
      20 chemin de Virol <br />24200 Proissans
    </p>
    <p class="content__center">
      Pour chaque contact, veuillez me <br />
      contacter uniquement par mail : <br />
      <a href="mailto:karinelefortphoto@gmail.com"
        >karinelefortphoto@gmail.com</a
      >
    </p>
    <div class="content__right">
      Me suivre
      <div class="separator"></div>
      <div class="content__right--rs-container">
        <karinelefort-web-rs-pictos
          [pictoHeights]="25"
        ></karinelefort-web-rs-pictos>
      </div>
    </div>
  </div>
  <span class="footer__copyright">© Karinelefortphotographie - 2022</span>
</footer>
