$primary: hsl(0, 54%, 75%);
$primary-light: hsl(0, 54%, 95%);
$primary-dark: hsl(0, 54%, 65%);
$text-on-p: #112226;
$secondary: #f1ebe0;
$secondary-light: #ffffff;
$secondary-dark: #beb9ae;
$secondary-darken: #928f87;
$text-on-s: #000000;
