$primary: hsl(0, 54%, 75%);
$primary-light: hsl(0, 54%, 95%);
$primary-dark: hsl(0, 54%, 65%);
$text-on-p: #444;
$secondary: #f1ebe0;
$secondary-light: #ffffff;
$secondary-dark: #beb9ae;
$secondary-darken: #928f87;
$text-on-s: #000000;

$n1: #f2e4e7;
$n2: #eedbdf;
$n3: #e7cdcf;
$n4: #dbbaba;
$n5: #d2adad;
$nrose: #f9ebeb;
