<div class="testimonials">
  <div class="testimonials__background"></div>
  <div class="testimonials__inner">
    <div class="testimonials__inner-part testimonials__inner-part--left">
      <karinelefort-web-testimonials-img-with-text
        imgSrc="../../assets/61ccc9046f411597372612.jpg"
        testimonial="Merci à toi pour ce joli moment, et bravo pour ton travail."
        customer="Amelie B"
        text="Des photos, nous en faisons toutes et tous avec notre portable ou notre tablette le plus souvent, mais elles restent très souvent dans notre portable ou ordinateur."
        direction="row-reverse"
      >
      </karinelefort-web-testimonials-img-with-text>
    </div>
    <div class="testimonials__inner-part testimonials__inner-part--right">
      <karinelefort-web-testimonials-img-with-text
        title="Ils m'ont fait confiance"
        imgSrc="../../assets/616c731a3c80f796838716.jpg"
        testimonial="Merci à toi pour ce joli moment, et bravo pour ton travail."
        customer="Amelie G"
      >
      </karinelefort-web-testimonials-img-with-text>
    </div>
  </div>
  <div class="testimonials__footer">
    <karinelefort-web-rs-pictos
      [pictoHeights]="30"
    ></karinelefort-web-rs-pictos>
    <karinelefort-web-basic-cta-btn
      btnTitle="Réservez une séance"
      link="https://www.fotostudio.io/client/reservation/61105"
    ></karinelefort-web-basic-cta-btn>
  </div>
</div>
