@import "../../assets/variables";

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 2vh 0;
    .testimonials__background {
        height: 31em;
        position: absolute;
        z-index: -1;
        top: 0;
        width: 50vw;
        background-color: $primary-light;
    }

    .testimonials__inner {
        display: flex;
        flex: 1 1 0;
        flex-direction: column-reverse;
        width: 100%;

        .testimonials__inner-part {
            margin: 0.2em 0;
            width: 100%;
        }
    }

    .testimonials__footer {
        display: flex;
        justify-content: space-between;
        padding: 2em 1em;
        width: 95%;
    }
}
