@import "../../assets/variables";

.info-bubble {
    padding: 1em;
    margin: 1vh;
    color: $secondary;
    text-align: center;
    background-color: $primary-light;
    box-shadow: 1px 1px 4px $secondary-dark;
}
